<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="kolkovnaProviderUrl" value="TestData\KolkovnaProviderDataTest.html" />
    <add key="reporyjeProviderUrl" value="TestData\ReporyjeProviderDataTest.html" />
    <add key="majakProviderUrl" value="TestData\MajakProviderDataTest.html" />
    <add key="bernardPubProviderUrl" value="TestData\BernardPubProviderDataTest.html" />
  </appSettings>
</configuration>
