<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="kolkovnaProviderUrl" value="https://www.kolkovna.cz/cs/kolkovna-stodulky-24/denni-menu" />
    <add key="reporyjeProviderUrl" value="http://www.pivovarreporyje.cz/denni-menu/" />
    <add key="majakProviderUrl" value="http://www.restaurantmajak.cz/cs/clanky/denni-nabidka" />
    <add key="bernardPubProviderUrl" value="http://www.bernardpub.cz/pub/u-jezera" />
  </appSettings>
</configuration>
